<!doctype html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <head>
        <title>Trip_In_Jeju 관리자</title>
    </head>
    <body>
    <div class="center">
        <h1>관리자 메인페이지</h1>
    </div>
    <div class="container">
        <br><br><br>
        <a th:href="@{/adm/content/create}" class="btn btn-primary">컨텐츠 등록</a> &nbsp; &nbsp; &nbsp;
        <a th:href="@{/adm/members}" class="btn btn-dark">회원 목록</a>
    </div>
    </body>
</section>
</html>
