<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />

.calendar-container {
            width: 600px;
        }

        .calendar-container .sunday {
            color: red;
        }

        .calendar-container .saturday {
            color: blue;
        }

        @media (max-width: 600px) {
            .calendar-container {
                width: 340px;
            }
        }
