 .hidden {
            display: none;
        }
        .selected-date {
            background-color: orange;
            border-radius: 50%;
        }
        .date-cell {
            padding: 10px;
            text-align: center;
        }