<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/openAi.css"> <!-- CSS 파일 경로 조정 -->
</head>

<section layout:fragment="content" class="section-prod-list">
    <body>
    <div class="container mx-auto p-4">
        <div class="mb-4 border-b border-black">
            <h1 class="text-2xl font-bold" th:text="${event.title}">Event Title</h1>
            <span>이벤트 기간: </span><span th:text="${event.periodStart}">Start Date</span> ~ <span th:text="${event.periodEnd}">End Date</span>
        </div>
        <!-- Step images -->
        <div th:each="step : ${event.steps}">
            <div th:if="${step.imageFilePath != null}">
                <img th:src="@{${step.imageFilePath}}" alt="Step Image" class="w-full max-h-screen object-contain rounded-lg">
            </div>
        </div>
        <div class="mt-8" th:text="${event.content}" style="white-space: pre-line;"></div>

        <!-- Admin only section -->
        <div th:if="${member != null && member.username == 'admin'}" class="flex space-x-2">
            <a th:href="@{/adm/event/edit/{id}(id=${event.id})}" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700 transition-colors duration-300">수정</a>
            <form th:action="@{/adm/event/delete/{id}(id=${event.id})}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                <button type="submit" class="bg-red-500 text-white p-2 rounded hover:bg-red-700 transition-colors duration-300">삭제</button>
            </form>
        </div>
    </div>
    <!--    <script th:src="@{/searchjs/search.js}"></script>-->
    </body>
</section>
</html>