<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list" >
    <div class="container">
        <div class="card-header">
            음식점 상세정보
        </div>

        <ul class="list-group list-group-flush gap-2">
            <li class="list-group-item">
                <img class="w-full max-w-[300px]" th:src="@{|/gen/${food.thumbnailImg}|}" alt="상품이미지">
            </li>
            <li class="list-group-item">
                <span>번호 : </span>
                <span th:text="${food.id}"></span>
            </li>
            <li class="list-group-item">
                <span>등록날짜 : </span>
                <span th:text="${#temporals.format(food.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </li>
            <li class="list-group-item">
                <span>음식점 : </span>
                <span class="font-bold" th:text="${food.title}"></span>
            </li>
            <li class="list-group-item">
                <span>설명 : </span>
                <span th:text="${food.content}"></span>
            </li>
            <li class="list-group-item">
                <span>위치 : </span>
                <span th:text="${food.place}"></span>
            </li>
            <li class="list-group-item">
                <span>휴무일 : </span>
                <span th:text="${food.closedDay}"></span>
            </li>

            <!--            <li class="list-group-item">-->
            <!--                <span>마켓 : </span>-->
            <!--                <span class="badge bg-primary">cod</span>-->
            <!--            </li>-->
        </ul>
    </div>
</section>
</html>