<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>제주도 여행은 Trip_In_Jeju !</title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>


    <!-- 테일윈드-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

    <!-- 폰트 어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- 카카오 맵 API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f9dcf56996812998b5d0646b348d4e5f&libraries=services,clusterer,drawing"></script>
</head>

<body class="flex flex-col min-h-screen md:w-1/2">
<!-- common.css -->
<link href="/resource/css/common.css" rel="stylesheet" type="text/css" />
<link href="/resource/css/click.css" rel="stylesheet" type="text/css" />
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark w-full ml-auto mr-auto bg-blue-200 rounded-bl-3xl rounded-br-3xl">
        <div class="flex container-fluid p-0 h-24 content-center">
            <div class="flex-grow">
                <button class="inline-block" onclick="history.back()"><i class="fa-solid fa-arrow-left fa-xl ml-5 text-white" ></i></button>
            </div>
            <div class="flex-grow text-center">
                <a class="inline-block w-28" href="/"><img src="https://github.com/user-attachments/assets/e0055092-5d06-426f-ab4e-3626388002b5" alt="textlogo" class="w-28"></a>
            </div>
            <ul class="flex navbar-nav me-auto mb-2 mb-md-0 flex-grow justify-end flex-row gap-4 h-100 items-center">
                <li class="nav-item">
                    <a href="#"><i class="fa-solid fa-bell fa-xl text-white"></i></a>
                </li>
                <li class="nav-item mr-5">
                    <a href="#"><i class="fa-solid fa-magnifying-glass fa-xl text-white"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="flex-1 pt-[20px] pb-[50px] flex flex-col">
    <!-- Content Start -->
    <th:block layout:fragment="content"></th:block>
    <!-- Content End -->
</section>

<footer class="footer py-2 bg-black rounded-tl-3xl rounded-tr-3xl fixed bottom-0 md:w-1/2 w-full z-50">
    <div id="chat-container" class="absolute bottom-12 right-1 rounded-full shadow-lg">
        <div id="chat-icon" class="relative">
            <img class="rounded-full cursor-pointer" src="https://github.com/user-attachments/assets/ee76bf64-f914-4c75-98d4-f2fab0db8b5e" alt="ai서비스">
            <button id="close-icon" class="absolute top-0 right-0 text-white bg-black w-5 h-5 text-xs rounded-full">x</button>
        </div>
    </div>
    <div class="container text-center">
        <ul class="flex navbar-nav flex-row h-100 items-center">
            <li class="nav-item flex-grow">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="/"><i class="fa-solid fa-house fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <button id="toggleButton" class="inline-block w-7 h-7 rounded-full bg-white content-center" onclick="toggleActionSheet()"><i class="fa-solid fa-arrow-up fa-lg" id="arrowIcon"></i></button>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="/map/map"><i class="fa-solid fa-map fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" sec:authorize="isAnonymous()" href="/member/login">
                    <i class="fa-solid fa-user fa-lg"></i>
                </a>
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" sec:authorize="isAuthenticated()" href="/member/myPage">
                    <img th:src="${member != null && member.thumbnailImg != null ? '/gen/' + member.thumbnailImg : 'https://i.ibb.co/mJYXKqb/images.jpg'}" alt="프로필 사진" class="profile-img w-8 h-8 rounded-full"/>
                </a>
            </li>

        </ul>
    </div>

    <div class="action-sheet text-white mx-2" id="actionSheet">
        <div class="action-options mt-3">
            <!-- 여러 선택 옵션들 -->
            <div class="option font-black text-xl pb-2 border-b-2">전체메뉴</div>
            <ul class="flex flex-col h-96 mb-48">
                <li class="flex-grow py-1 border-b-2">
                    <a class="flex option cursor-pointer inline-block w-100 text-left hover:text-green-300" onclick="toggleSubMenu(event)">여행장소
                        <div class="flex-grow text-right"><i class="fa-solid fa-plus" id="plusIcon"></i></div>
                    </a>
                    <ul class="flex w-80 justify-around ml-auto mr-auto flex-wrap gap-2 sub-menu hidden mt-2">
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/food/list">음식</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/dessert/list">디저트</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/attractions/list">관광지</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">숙박</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/shopping/list">쇼핑</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/festivals/list">축제</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/activity/list">액티비티</a></li>
                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/other/list">기타</a></li>
                    </ul>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a href="#" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">마이페이지</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">이벤트</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">문의하기</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a href="/api/chat/openai" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">챗 봇</a>
                </li>
                <li sec:authorize="isAnonymous()" class="flex-grow py-1 border-b-2">
                    <a href="/member/login" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="flex-grow py-1 border-b-2">
                    <a href="/member/logout" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">로그아웃</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" class="flex-grow py-1 border-b-2">
                    <a  href="/adm/home/main" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">관리자 페이지</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script th:src="@{/clickjs/click.js}"></script>
</body>
</html>