<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>컨텐츠 생성 페이지</title>
        <link href="/resource/css/admCreate.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div class="container">
        <h1 class="text-center">게시물 작성</h1>
        <form th:action="@{/adm/content/create}" method="POST" enctype="multipart/form-data" class="space-y-6 p-6 rounded-lg shadow-md">

            <!-- 카테고리 선택 -->
            <div class="form-group">
                <label for="category" class="block text-lg font-semibold text-teal-700">카테고리:</label>
                <select id="category" name="category" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" onchange="updateSubCategoryOptions()">
                    <option value="food">음식점</option>
                    <option value="dessert">디저트</option>
                    <option value="shopping">쇼핑</option>
                    <option value="activity">액티비티</option>
                    <option value="attractions">관광지</option>
                    <option value="festivals">축제</option>
                </select>
            </div>

            <!-- 하위 카테고리 선택 -->
            <div class="form-group" id="subCategoryContainer" style="display: none;">
                <label for="subCategory" class="block text-lg font-semibold text-teal-700">하위 카테고리:</label>
                <select id="subCategory" name="subCategory" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                    <!-- 하위 카테고리 옵션은 자바스크립트로 동적으로 추가됨 -->
                </select>
            </div>

            <!-- 썸네일 업로드 -->
            <div class="form-group">
                <label for="thumbnail" class="block text-lg font-semibold text-teal-700">썸네일:</label>
                <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/gif, image/jpeg" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 제목 입력 -->
            <div class="form-group">
                <label for="title" class="block text-lg font-semibold text-teal-700">제목:</label>
                <input type="text" id="title" name="title" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 카테고리별 시간/기간 입력 -->
            <div id="timeInputs" class="form-group" style="display:none;">
                <label for="businessHoursStart" class="block text-lg font-semibold text-teal-700">시작시간:</label>
                <select id="businessHoursStart" name="businessHoursStart" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                </select>
                <label for="businessHoursEnd" class="block text-lg font-semibold text-teal-700">종료시간:</label>
                <select id="businessHoursEnd" name="businessHoursEnd" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                </select>
                <label for="closedDay" class="block text-lg font-semibold text-teal-700">휴무일:</label>
                <input type="text" id="closedDay" name="closedDay" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <div id="periodInputs" class="form-group" style="display:none;">
                <label for="period" class="block text-lg font-semibold text-teal-700">기간:</label>
                <div class="flex space-x-4">
                    <input type="date" id="periodStart" name="periodStart" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                    <input type="date" id="periodEnd" name="periodEnd" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                </div>
            </div>

            <!-- 위치 입력 -->
            <div class="form-group">
                <label for="place" class="block text-lg font-semibold text-teal-700">위치:</label>
                <input type="text" id="place" name="place" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
                <div id="autocomplete-list" class="relative z-10"></div>
                <button type="button" onclick="searchPlace()" class="mt-2 bg-teal-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-teal-600">주소 검색</button>
            </div>
            <div id="map"></div>
            <!-- 숨겨진 좌표 필드 -->
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">

            <!-- 홈페이지 링크 입력 -->
            <div class="form-group">
                <label for="websiteUrl" class="block text-lg font-semibold text-teal-700">홈페이지 링크:</label>
                <input type="text" id="websiteUrl" name="websiteUrl" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 전화번호 입력 -->
            <div class="form-group">
                <label for="phoneNumber" class="block text-lg font-semibold text-teal-700">전화번호:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 해시태그 입력 -->
            <div class="form-group">
                <label for="hashtags" class="block text-lg font-semibold text-teal-700">해시태그:</label>
                <input type="text" id="hashtags" name="hashtags" placeholder="#해시태그1 #해시태그2" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 내용 입력 -->
            <div class="form-group">
                <label for="content" class="block text-lg font-semibold text-teal-700">내용:</label>
                <input type="text" id="content" name="content" class="mt-2 block w-full border border-teal-300 rounded-lg p-2 focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50">
            </div>

            <!-- 제출 버튼 -->
            <div class="text-center">
                <button type="submit" class="bg-teal-600 text-white px-5 py-2 rounded-lg shadow-md hover:bg-teal-700 text-lg font-semibold">등록</button>
            </div>
            <br>
        </form>
    </div>

    <script th:src="@{/admCreatejs/admCreate.js}"></script>
    <script>
        function updateSubCategoryOptions() {
            const category = document.getElementById('category').value;
            const subCategoryContainer = document.getElementById('subCategoryContainer');
            const subCategorySelect = document.getElementById('subCategory');

            if (category === 'dessert') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="cafe">카페</option>
                    <option value="bakery">베이커리</option>
                    <option value="iceCream">아이스크림</option>
                    <option value="other">기타</option>
                `;

            } else if (category === 'food') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="korean">한식</option>
                    <option value="western">양식</option>
                    <option value="japanese">일식</option>
                    <option value="chinese">중식</option>
                    <option value="other">기타</option>
                `;

            } else if (category === 'shopping') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="traditionalMarkets">전통시장</option>
                    <option value="duty-FreeShops">면세점</option>
                    <option value="souvenirs">기념품</option>
                    <option value="other">기타</option>
                `;

            } else if (category === 'activity') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="sports">스포츠</option>
                    <option value="experienceActivities">체험활동</option>
                    <option value="leisure-entertainment">레저/오락</option>
                    <option value="other">기타</option>
                `;

            } else if (category === 'attractions') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="naturalScenery">자연경관</option>
                    <option value="museums">박물관/유적지</option>
                    <option value="themeParks">레저/테마파크</option>
                    <option value="other">기타</option>
                `;

            } else if (category === 'festivals') {
                subCategoryContainer.style.display = 'block';
                subCategorySelect.innerHTML = `
                    <option value="seasonal">계절</option>
                    <option value="musicArt">음악/예술</option>
                    <option value="traditional">전통</option>
                    <option value="food">음식</option>
                    <option value="other">기타</option>
                `;

            } else {
                subCategoryContainer.style.display = 'none';
                subCategorySelect.innerHTML = '';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            updateSubCategoryOptions();
        });

    </script>
    </body>
</section>
</html>
