<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resource/css/find-username.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <title>아이디 찾기</title>

</head>
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
<body>
<div class="wrap">
    <div class="wave layer_1"></div>
    <div class="wave"></div>
</div>
<div class="container">
    <div class="header-container">
        <h1>
            <a href="/">
                <img src="https://i.ibb.co/s3RSNmC/sdfa-removebg-preview.png" alt="트립인 제주" width="300" height="300">
            </a>
        </h1>
        <h4> 아이디 찾기 </h4>
    </div>
    <form th:action="@{/member/find-username}" method="post">
        <div>
            <input type="email" name="email" placeholder="이메일" required><br>
        </div>
        <button type="submit" class="btn">아이디 찾기</button>
        <p th:if="${error}" class="error-message" th:text="${error}"></p>
    </form>
    <div class="result" th:if="${username != null}">
        <p>등록된 아이디는 <span th:text="${username}" class="username"></span> 입니다.</p>
    </div>
    <div class="link-container">
        <a th:href="@{/member/login}">로그인</a> |
        <a th:href="@{/member/request-reset}">비밀번호 찾기</a>
    </div>
</div>
<script th:src="@{/clickjs/click.js}"></script>
</body>
</section>
</html>
