<!DOCTYPE html>
<html lang="ko">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resource/css/request-reset.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <title>비밀번호 재설정 요청</title>
</head>
<body>
<div class="frame">
    <div class="wrap">
        <div class="wave"></div>
        <div class="wave layer_1"></div>
    </div>
</div>
<div class="container">
    <h1>
        <a href="/">
            <img src="https://i.ibb.co/s3RSNmC/sdfa-removebg-preview.png" alt="트립인 제주" width="300" height="300">
        </a>
    </h1>
    <h2>비밀번호 재설정 요청</h2>
    <h4>회원가입 아이디와 이메일이 일치하지 않으면 재설정이 진행되지 않습니다.</h4>
    <!-- 비밀번호 재설정 이메일 요청 폼 -->
    <form action="/member/request-reset" method="post">
        <label for="username">사용자 아이디</label>
        <input type="text" id="username" name="username" required>

        <label for="email">이메일</label>
        <input type="email" id="email" name="email" required>

        <button type="submit">인증 코드 요청</button>
    </form>
    <div class="login-link">
        <a href="/member/login">로그인 페이지로 이동</a>
    </div>

    <!-- 에러 또는 성공 메시지 표시 -->
    <div th:if="${error}" class="error">오류: <span th:text="${error}"></span></div>
    <div th:if="${message}" class="success">성공: <span th:text="${message}"></span></div>

</div>
<script th:src="@{/clickjs/click.js}"></script>
</body>
</section>
</html>
