<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/resource/css/verifycode.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <title>이메일 인증</title>
</head>
<body>
<div class="container">
    <h1>이메일 인증</h1>

    <!--    <form action="/member/verifyCode" method="post" th:action="@{/member/login}">-->
    <!--        <label for="verification">인증 코드 입력:</label><br>-->
    <!--        <input type="text" id="verification" name="verification" required><br>-->
    <!--        <button type="submit" class="btn">확인</button>-->
    <!--    </form>-->

    <form action="/member/verifyCode" method="post" >
        <label for="verification">인증 코드 입력:</label><br>
        <input type="text" id="verification" name="verification" required><br>
        <button type="submit" class="btn">확인</button>
    </form>

    <p>이메일로 받은 인증 코드를 입력하세요.</p>
</div>
<script th:src="@{/clickjs/click.js}"></script>
</body>
</html>