<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Trip_In_Jeju</title>
    <link href="/resource/css/WeekCalendar.css" rel="stylesheet" type="text/css" />
</head>
<body>

<section layout:fragment="content" class="section-prod-list">
<h4><strong> 일간 축제 일정</strong></h4>

    <section class="content">
        <div class="tab-content" id="tab-schedule">
            <div class="flex flex-col p-4">
                <div class="flex justify-between items-center">
                    <div class="relative">
                        <div class="flex items-center">
                            <span th:text="${currentDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy년 MM월 dd일'))}"></span>
                            <button class="text-gray-500 ml-2" onclick="toggleDatePicker()">▼</button>
                        </div>
                        <input type="date" id="datePicker" class="hidden mt-2 border border-gray-300 rounded p-2 bg-white absolute" onchange="navigateToDate()"/>
                    </div>
                </div>
                <div class="grid grid-cols-7 text-center font-semibold mb-4">
                    <div class="date-cell" th:each="date : ${weekDates}">
                        <div th:classappend="${date.toString()} == ${currentDate.toString()} ? ' selected-date' : ''"
                             th:attr="data-date=${date}" onclick="navigateToDateWithClick(this)">
                            <span th:text="${date.dayOfWeek.toString().substring(0, 3)}"></span><br>
                            <span th:text="${date.format(T(java.time.format.DateTimeFormatter).ofPattern('dd'))}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div th:each="entry : ${eventsByDate}" th:if="${entry.value.size() > 0}">
                    <div th:each="event : ${entry.value}" class="event-card m-2">
                        <!-- 카드 전체를 링크로 만들기 위해 <a> 태그로 감쌌습니다. -->
                        <a th:each="festival : ${event.festivals}"
                           th:href="@{/festivals/detail/{id}(id=${festival.id})}"
                           class="festival-link flex">
                            <img th:src="@{|/gen/${festival.thumbnailImg}|}" alt="Festival Thumbnail" class="festival-thumbnail md:w-[170px] w-[140px] rounded-2xl">

                            <div class="event-content flex-grow">
                                <div class="pb-1 text-end">
                                    <h4 class="text-lg font-bold ">축제 기간</h4>
                                    <span th:text="${event.periodStart} + ' - ' + ${event.periodEnd}"></span>
                                </div>
                                <div class="festivals" th:if="${event.festivals != null and !#lists.isEmpty(event.festivals)}">
                                    <div class="festival-info">

                                        <div class="text-content">
                                            <div class="flex border-b pb-1">
                                                <h5 class="content-center">축제 명 :&nbsp</h5>
                                                <p style="flex-basis:0;" class="content-center font-bold flex-grow" th:text="${festival.place}"></p>
                                            </div>
                                            <div class="flex py-1 border-b">
                                                <h5 class="content-center">축제 카테고리 :&nbsp</h5>
                                                <p style="flex-basis:0;" class="content-center font-bold flex-grow" th:text="${festival.subCategory}"></p>
                                            </div>
                                            <div class="flex pt-1">
                                                <h5 class="content-center">축제지역 :&nbsp</h5>
                                                <p style="flex-basis:0;" class="content-center font-bold flex-grow" th:text="${festival.location.address}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p th:if="${event.festivals == null or #lists.isEmpty(event.festivals)}">진행중인 축제가 없습니다.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    <!-- 자바스크립트 파일 추가 -->
    <script th:src="@{/weekcalendarjs/weekcalendar.js}"></script>
    <script>
        function toggleDatePicker() {
            var datePicker = document.getElementById('datePicker');
            datePicker.classList.toggle('hidden');
        }

        function navigateToDate() {
            var selectedDate = document.getElementById('datePicker').value;
            window.location.href = '/calendar/day?date=' + selectedDate;
        }

        function navigateToDateWithClick(element) {
            var selectedDate = element.getAttribute('data-date');
            window.location.href = '/calendar/day?date=' + selectedDate;
        }
    </script>
</section>
</body>
</html>