<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>캘린더</title>

        <link href="/resource/css/admCreate.css" rel="stylesheet" type="text/css" />
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="container">
        <h1 class="text-center">캘린더</h1>
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>
    <script th:src="@{/calendarjs/calendar.js}"></script>
    </body>
</section>
</html>