<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list ">
<head>
    <meta charset="UTF-8">
    <link href="/resource/css/WeekCalendar.css" rel="stylesheet" type="text/css" />

</head>

    <body>
    <div class="flex justify-between p-4">
        <div class="relative">
            <div class="flex items-center">
                <span th:text="${currentDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy년 MM월 dd일'))}"></span>
                <button class="text-gray-500 ml-2" onclick="toggleDatePicker()">▼</button>
            </div>
            <input type="date" id="datePicker" class="hidden mt-2 border border-gray-300 rounded p-2 bg-white absolute" onchange="navigateToDate()"/>
        </div>
    </div>
    <div class="grid grid-cols-7 text-center font-semibold mb-4">
        <div class="date-cell" th:each="date : ${weekDates}">
            <div th:classappend="${date.toString()} == ${currentDate.toString()} ? ' selected-date' : ''"
                 th:attr="data-date=${date}" onclick="navigateToDateWithClick(this)">
                <span th:text="${date.dayOfWeek.toString().substring(0, 3)}"></span><br>
                <span th:text="${date.format(T(java.time.format.DateTimeFormatter).ofPattern('dd'))}"></span>
                <div class="events" th:each="event : ${eventsByDate[date]}">
                    <div class="event-item">
                        <span th:text="${event.title}"></span>
                        <div th:each="festival : ${event.festivals}">
                            <div class="festival-item">
                                <img th:src="@{${festival.thumbnailImg}}" alt="Festival Thumbnail" class="thumbnail">
                                <div>
                                    <h3 th:text="${festival.title}"></h3>
                                    <p th:text="${festival.subCategory}"></p>
                                    <p th:text="${festival.place}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/weekcalendarjs/weekcalendar.js}"></script>
    </body>
</section>
</html>