<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list ">
<head>
    <meta charset="UTF-8">
    <link href="/resource/css/WeekCalendar.css" rel="stylesheet" type="text/css" />

</head>

    <body>
    <div class="flex justify-between p-4">
        <button onclick="navigateWeek(-1)" class="bg-blue-500 text-white px-4 py-2 rounded">이전</button>
        <div class="relative">
            <div class="flex items-center">
                <span th:text="${currentDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy년 MM월 dd일'))}"></span>
                <button class="text-gray-500 ml-2" onclick="toggleDatePicker()">▼</button>
            </div>
            <input type="date" id="datePicker" class="hidden mt-2 border border-gray-300 rounded p-2 bg-white absolute" onchange="navigateToDate()" />
        </div>
        <button onclick="navigateWeek(1)" class="bg-blue-500 text-white px-4 py-2 rounded">다음</button>
    </div>
    <div class="text-center text-lg font-bold mb-4 mt-4" th:text="${weekStart} + ' ~ ' + ${weekEnd}"></div>
    <div class="grid grid-cols-7 text-center font-semibold mb-4">
        <div class="date-cell " th:each="date : ${weekDates}">
            <div th:class="${date.toString()} == ${currentDate.toString()} ? 'selected-date' : ''">
                <span th:text="${date.dayOfWeek.toString().substring(0, 3)}"></span><br>
                <span th:text="${date.format(T(java.time.format.DateTimeFormatter).ofPattern('dd'))}"></span>
            </div>
        </div>
    </div>


    <script th:src="@{/weekcalendarjs/weekcalendar.js}"></script>
    </body>

</section>
</html>