<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/rating.css" rel="stylesheet" type="text/css"/>
    <title>Trip_In_Jeju</title>
    <style>
        .list-group-item {
            padding-left: 0;
            margin-left: 0;
        }

        .list-group {
            padding-left: 0;
            margin-left: 0;
        }

        .scrap-button-container {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            align-items: center;
        }

        .image-container {
            position: relative;
        }

        .scrap-button {
            background: none;
            border: none;
            font-size: 1.5rem;
            color: #FF4500;
            cursor: pointer;
            padding: 0;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="section-prod-list">
    <section class="container mt-1">
        <!-- 이미지 컨테이너 -->
        <div class="image-container">
            <img class="w-full" style="width: 100%; max-width: 100%;" th:src="@{|/gen/${attractions.thumbnailImg}|}"
                 alt="상품이미지">
            <!-- 스크랩 -->
            <div class="scrap-button-container mt-4" id="scrapButtonContainer"
                 style="background-color: #f2f2f2; padding: 10px; border-radius: 5px;">
                <form id="scrapForm" th:action="@{/attractions/scrap/{id}(id=${attractions.id})}" method="post"
                      style="display: inline;">
                    <button type="submit" style="background-color: transparent; border: none;">
                        <i class="fa-heart"
                           th:classappend="${attractions.scrapCount != null && attractions.scrapCount > 0 ? 'fa-solid heart-filled' : 'fa-regular heart-empty'}"
                           style="color: #ff6666;"></i>
                    </button>
                </form>
            </div>
        </div>

        <!-- 관광지 정보 -->
        <div class="card">
            <div class="card-body">
                <span class="font-bold" style="font-size: 1.5rem;" th:text="${attractions.title}"></span>
                <ul class="list-group list-group-flush">
                    <!-- 영업시간 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">영업시간: </span>
                        <span th:text="${#temporals.format(attractions.calendar.businessHoursStart, 'HH:mm')}"></span>
                        <span> ~ </span>
                        <span th:text="${#temporals.format(attractions.calendar.businessHoursEnd, 'HH:mm')}"></span>
                    </li>
                    <!-- 휴무일 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">휴무일: </span>
                        <span th:text="${attractions.calendar.closedDay}"></span>
                    </li>
                    <!-- 위치 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">위치: </span>
                        <span th:text="${attractions.location.name}"></span>
                    </li>
                    <!-- 정보 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">정보: </span>
                        <a th:href="${attractions.websiteUrl}" target="_blank" style="color: blue;">홈페이지</a>
                    </li>
                    <!-- 번호 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">번호: </span>
                        <span th:text="${attractions.phoneNumber}"></span>
                    </li>
                </ul>

                <!-- 관광지 소개(내용) -->
                <div class="mt-4">
                    <span th:text="${attractions.content}"></span>
                </div>

                <!-- 좋아요 및 별점 -->
                <div class="mt-4" style="display: flex; align-items: center;">
                    <!-- 좋아요 -->
                    <div class="like-button-container" id="likeButtonContainer"
                         style="display: flex; align-items: center; margin-right: 10px;">
                        <form id="likeForm" th:action="@{/attractions/like/{id}(id=${attractions.id})}" method="post"
                              style="display: inline;">
                            <button type="submit" th:disabled="${alreadyLiked}"
                                    style="background-color: transparent; border: none; display: flex; align-items: center;">
                                <i class="fa-thumbs-up"
                                   th:classappend="${alreadyLiked} ? 'fa-solid' : 'fa-regular'"></i>
                                <span style="margin-left: 5px;">좋아요</span>
                            </button>
                        </form>
                        <span class="likes" style="margin-left: 5px;"
                              th:text="'(' + (${attractions.likes} > 999 ? '999+' : ${attractions.likes}) + ')'"> (0) </span>
                    </div>
                    <!-- 별점 -->
                    <span>
                        <a id="averageScoreLink" th:href="@{/attractions/review/{id}(id=${attractions.id})}" style="font-size: 1rem;">
                            ⭐ <span th:text="${averageScore}">4.9</span> 리뷰 (<span th:text="${ratings.size()}">999+</span>)
                        </a>
                    </span>
                </div>

                <!-- 지도 -->
                <div class="mt-4">
                    <span class="font-bold" style="font-size: 1.5rem;">지도 </span>
                    <div id="map" th:data-latitude="${attractions.location.latitude}"
                         th:data-longitude="${attractions.location.longitude}" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <!-- 삭제  -->
        <div sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <form th:action="@{/attractions/delete/{id}(id=${attractions.id})}" method="post" style="display:inline;"
                  onsubmit="return confirm('정말 삭제하시겠습니까?');">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt"></i> 삭제
                </button>
            </form>
        </div>

        <!-- 리뷰 작성 및 목록 -->
        <div class="containers mt-1" id="container2">
            <!-- 리뷰 작성 -->
            <div sec:authorize="isAuthenticated()">
                <h3 class="mt-4">리뷰 작성</h3>
                <form th:action="@{/attractions/review/{id}(id=${attractions.id})}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="score">점수</label>
                        <div class="rating">
                            <input type="radio" id="star5" name="score" value="5" required>
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="score" value="4">
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="score" value="3">
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="score" value="2">
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="score" value="1">
                            <label for="star1"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">댓글</label>
                        <textarea id="comment" name="comment" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">사진 업로드</label>
                        <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/gif, image/jpeg">
                    </div>
                    <input type="hidden" name="itemId" th:value="${attractions.id}">
                    <input type="hidden" name="category" value="attractions">
                    <button type="submit" class="btn btn-primary">리뷰 제출</button>
                </form>
            </div>
            <!-- 리뷰 목록 -->
            <h3 class="mt-4">리뷰 목록</h3>
            <ul class="list-group">
                <li class="list-group-item" th:each="rating : ${ratings}">
                    <p>점수:
                        <span class="rating">
                            <span th:each="i : ${#numbers.sequence(1,5)}"
                                  th:classappend="${i <= rating.score ? 'fa-star' : 'fa-star-o'}" class="fa"></span>
                        </span>
                    </p>
                    <p>내용: &nbsp;<span th:text="${rating.comment}"></span></p>
                    <a th:href="@{|/member/myPage/${rating.username}|}">
                        <p>작성자: &nbsp;<span th:text="${rating.username}"></span></p>
                    </a>

                    <div th:if="${rating.thumbnailImg != null}">
                        <img th:src="@{|/gen/${rating.thumbnailImg}|}" alt="리뷰 이미지" style="max-width: 200px;">
                    </div>
                    <div sec:authorize="isAuthenticated()"
                         th:if="${#authentication.principal.username == rating.username or #authorization.expression('hasAuthority(''ADMIN'')')}">
                        <a th:href="@{/attractions/review/delete/{id}(id=${attractions.id}, ratingId=${rating.id})}"
                           class="btn btn-danger btn-sm">삭제</a>
                        <a th:href="@{/attractions/review/edit/{ratingId}(ratingId=${rating.id})}"
                           class="btn btn-warning btn-sm">수정</a>
                    </div>
                </li>
                <li th:if="${#lists.isEmpty(ratings)}" class="list-group-item">아직 리뷰가 없습니다.</li>
            </ul>
        </div>
        <br><br><br><br>
    </section>

    <script th:inline="javascript" th:src="@{/detailjs/detail.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const likeButtonContainer = document.getElementById('likeButtonContainer');
            const likeForm = document.getElementById('likeForm');
            const scrapButtonContainer = document.getElementById('scrapButtonContainer');
            const scrapForm = document.getElementById('scrapForm');

            likeButtonContainer.addEventListener('click', function () {
                likeForm.submit();
            });

            scrapButtonContainer.addEventListener('click', function () {
                scrapForm.submit();
            });

            const averageScoreLink = document.getElementById('averageScoreLink');
            const container2 = document.getElementById('container2');

            averageScoreLink.addEventListener('click', function (event) {
                event.preventDefault();
                container2.scrollIntoView({ behavior: 'smooth' });
            });
        });

        function previewThumbnail(input) {
            const preview = document.getElementById('thumbnailPreview');
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
</section>
</body>
</html>
