<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/openAi.css"> <!-- CSS 파일 경로 조정 -->
</head>
<section layout:fragment="content" class="section-prod-list">
<body>

<t1 class="block text-center mb-4 text-lg ">JET! GPT </t1>
<div id="chat-container" class="shadow-lg rounded-lg w-full overflow-hidden" style="background-color: #E0E2EC;">
    <div id="chat-messages" class="p-4 h-96 overflow-y-auto flex flex-col space-y-2"></div>
    <form id="user-input" class="p-4 flex border-t" action="/api/chat/send" method="post">
        <input type="text" name="prompt" placeholder="메시지를 입력하세요..." class="flex-1 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" />
        <button type="submit" class="ml-2 bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 focus:outline-none focus:ring focus:bg-blue-600">전송</button>
    </form>
</div>
<script th:src="@{/openAijs/openAi.js}"></script>
</body>
</section>
</html>