<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resource/css/rating.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <title>Trip_In_Jeju</title>
    <style>
        .list-group-item {
            padding-left: 0;
            margin-left: 0;
        }

        .list-group {
            padding-left: 0;
            margin-left: 0;
        }

        .scrap-button-container {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            align-items: center;
        }

        .image-container {
            position: relative;
        }

        .scrap-button {
            background: none;
            border: none;
            font-size: 1.5rem;
            color: #FF4500;
            cursor: pointer;
            padding: 0;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="section-prod-list">
    <section class="container mt-1">
        <!-- 이미지 컨테이너 -->
        <div class="relative image-container">
            <img class="w-full" style="width: 100%; max-width: 100%;" th:src="@{|/gen/${festivals.thumbnailImg}|}"
                 alt="상품이미지">
            <!-- 스크랩 -->
            <div class="absolute scrap-button-container top-full mt-2 z-10" id="scrapButtonContainer"
                 style="background-color: #f2f2f2; padding: 20px; border-radius: 5px;">
                <form id="scrapForm" th:action="@{/festivals/scrap/{id}(id=${festivals.id})}" method="post"
                      style="display: inline;">
                    <button type="submit" style="background-color: transparent; border: none;">
                        <i class="fa-bookmark"
                           th:classappend="${festivals.scrapCount != null && festivals.scrapCount > 0 ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'}"></i>
                    </button>
                </form>
            </div>
        </div>

        <!-- 축제 정보 -->
        <div class="card">
            <div class="card-body">
                <span class="font-bold" style="font-size: 1.5rem;" th:text="${festivals.location.name}"></span>
                <ul class="list-group list-group-flush">
                    <!-- 축제 기간 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">기간: </span>
                        <span th:text="${#temporals.format(festivals.calendar.periodStart, 'yyyy년 MM월 dd일')}"></span>
                        <span> ~ </span>
                        <span th:text="${#temporals.format(festivals.calendar.periodEnd, 'yyyy년 MM월 dd일')}"></span>
                    </li>
                    <!-- 위치 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">위치: </span>
                        <span th:text="${festivals.location.address}"></span>
                    </li>
                    <!-- 정보 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">정보: </span>
                        <a th:href="${festivals.websiteUrl}" target="_blank" style="color: blue;">홈페이지</a>
                    </li>
                    <!-- 번호 -->
                    <li class="list-group-item">
                        <span style="font-weight: bold;">번호: </span>
                        <span th:text="${festivals.phoneNumber}"></span>
                    </li>
                </ul>

                <!-- 축제 소개(제목) -->
                <div class="mt-4">
                    <span th:text="${festivals.title}"></span>
                </div>

                <!-- 축제 소개(내용) -->
                <div class="mt-4">
                    <span th:text="${festivals.content}"></span>
                </div>

                <!-- 좋아요 및 별점 -->
                <div class="mt-4" style="display: flex; align-items: center;">
                    <!-- 좋아요 -->
                    <div class="like-button-container" id="likeButtonContainer"
                         style="display: flex; align-items: center; margin-right: 10px;">
                        <form id="likeForm" th:action="@{/festivals/like/{id}(id=${festivals.id})}" method="post"
                              style="display: inline;">
                            <button type="submit" th:disabled="${alreadyLiked}"
                                    style="background-color: transparent; border: none; display: flex; align-items: center;">
                                <i class="fa-thumbs-up"
                                   th:classappend="${alreadyLiked} ? 'fa-solid' : 'fa-regular'"></i>
                                <span style="margin-left: 5px;">좋아요</span>
                            </button>
                        </form>
                        <span class="likes" style="margin-left: 5px;"
                              th:text="'(' + (${festivals.likes} > 999 ? '999+' : ${festivals.likes}) + ')'"> (0) </span>
                    </div>
                </div>

                <!-- 지도 -->
                <div class="mt-4">
                    <span class="font-bold" style="font-size: 1.5rem;">지도 </span>
                    <div id="map" th:data-latitude="${festivals.location.latitude}"
                         th:data-longitude="${festivals.location.longitude}" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <!-- 삭제 -->
        <div class="mt-2" sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <form th:action="@{/festivals/delete/{id}(id=${festivals.id})}" method="post" style="display:flex; justify-content: end;"
                  onsubmit="return confirm('정말 삭제하시겠습니까?');">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-button bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded flex items-center gap-2">
                    <i class="fas fa-trash-alt"></i> 삭제
                </button>
            </form>
        </div>

        <!-- 리뷰 작성 및 목록 -->
        <div sec:authorize="isAuthenticated()">
            <h3 class="mt-4 text-lg font-semibold">리뷰 작성</h3>
            <div th:if="${canWriteReview && !hasWrittenReview}">
                <form th:action="@{/festivals/review/{id}(id=${festivals.id})}" method="post" enctype="multipart/form-data" class="space-y-4">
                    <div class="form-group">
                        <label for="score" class="block text-sm font-medium text-gray-700">점수</label>
                        <div class="rating">
                            <input type="radio" id="star5" name="score" value="5" required>
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="score" value="4">
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="score" value="3">
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="score" value="2">
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="score" value="1">
                            <label for="star1"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="block text-sm font-medium text-gray-700">댓글</label>
                        <textarea id="comment" name="comment" class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail" class="block text-sm font-medium text-gray-700">사진 업로드</label>
                        <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/gif, image/jpeg" class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
                    </div>
                    <input type="hidden" name="itemId" th:value="${festivals.id}">
                    <input type="hidden" name="category" value="festivals">
                    <button type="submit" class="btn w-1/2 bg-yellow-400 text-white py-2 px-4 rounded-md hover:bg-yellow-500 block ml-auto mr-auto">리뷰 제출</button>
                </form>
            </div>
            <div th:if="${!canWriteReview || hasWrittenReview}" class="list-group-item  mt-4 p-4 bg-yellow-50 border-l-4 border-yellow-400 text-yellow-800 rounded-md">
                <p th:if="${hasWrittenReview}" class="font-medium">이미 리뷰를 작성하였습니다.</p>
                <p th:if="${!canWriteReview}" class="font-medium">리뷰를 작성하려면 해당 장소를 방문해야 합니다.</p>
            </div>
        </div>

        <!-- 리뷰 목록 -->
        <h3 class="mt-6 text-lg font-semibold">리뷰 목록</h3>
        <ul class="list-group space-y-4 mt-4">
            <li class="list-group-item p-4 border border-gray-200 rounded-lg flex flex-col md:flex-row items-stretch space-y-4 md:space-y-0 md:space-x-4 relative" th:each="rating : ${ratings}">
                <!-- 이미지 섹션 -->
                <div th:if="${rating.thumbnailImg != null}" class="w-full md:w-1/3 flex items-center justify-center">
                    <img th:src="@{|/gen/${rating.thumbnailImg}|}" alt="리뷰 이미지" class="rounded-lg shadow-md max-h-full object-contain">
                </div>

                <!-- 내용 섹션 -->
                <div class="w-full md:w-2/3 bg-gray-50 p-6 rounded-lg shadow-sm flex flex-col justify-between relative">
                    <!-- 작성자 정보 (오른쪽 상단) -->
                    <a th:href="@{|/member/myPage/${rating.username}|}" class="absolute top-4 right-4 text-sm text-blue-600 hover:underline">
                        작성자: <span th:text="${rating.username}"></span>
                    </a>

                    <div>
                        <p class="flex items-center text-lg font-semibold">
                            점수:
                            <span class="rating flex ml-2">
                        <span th:each="i : ${#numbers.sequence(1,5)}" th:classappend="${i <= rating.score ? 'text-yellow-500' : 'text-gray-300'}">&#9733;</span>
                    </span>
                        </p>
                        <p class="mt-4 text-gray-700 leading-relaxed">
                            <span th:text="${rating.comment}"></span>
                        </p>
                    </div>

                    <!-- 삭제 및 수정 버튼 (오른쪽 하단) -->
                    <div class="flex justify-end items-center mt-4">
                        <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == rating.username or #authorization.expression('hasAuthority(''ADMIN'')')}" class="flex space-x-2">
                            <a th:href="@{/festivals/review/delete/{id}(id=${festivals.id}, ratingId=${rating.id})}" class="btn btn-danger btn-sm bg-red-600 text-white py-1 px-2 rounded-md hover:bg-red-700">삭제</a>
                            <a th:href="@{/festivals/review/edit/{ratingId}(ratingId=${rating.id})}" class="btn btn-warning btn-sm bg-yellow-500 text-white py-1 px-2 rounded-md hover:bg-yellow-600">수정</a>
                        </div>
                    </div>
                </div>
            </li>
            <li th:if="${#lists.isEmpty(ratings)}" class="list-group-item p-4 bg-yellow-50 border-l-4 border-yellow-400 text-yellow-800 rounded-md">
                아직 리뷰가 없습니다.
            </li>
        </ul>
        </div>
        <br><br><br><br>
    </section>

    <script th:inline="javascript" th:src="@{/detailjs/detail.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const likeButtonContainer = document.getElementById('likeButtonContainer');
            const likeForm = document.getElementById('likeForm');
            const scrapButtonContainer = document.getElementById('scrapButtonContainer');
            const scrapForm = document.getElementById('scrapForm');

            likeButtonContainer.addEventListener('click', function () {
                likeForm.submit();
            });

            scrapButtonContainer.addEventListener('click', function () {
                scrapForm.submit();
            });

            const averageScoreLink = document.getElementById('averageScoreLink');
            const container2 = document.getElementById('container2');

            averageScoreLink.addEventListener('click', function (event) {
                event.preventDefault();
                container2.scrollIntoView({ behavior: 'smooth' });
            });
        });

        function previewThumbnail(input) {
            const preview = document.getElementById('thumbnailPreview');
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
</section>
</body>
</html>
