<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resource/css/like.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
    <link href="/resource/css/rating.css" rel="stylesheet" type="text/css" />
    <title>Trip_In_Jeju</title>
</head>
<body>
<section layout:fragment="content" class="section-prod-list">
    <section class="container mt-1">
        <!-- 내용  -->
        <!-- 이미지 -->
        <div class="image-container">
            <img class="w-full" style="width: 100%; max-width: 100%;" th:src="@{|/gen/${dessert.thumbnailImg}|}" alt="상품이미지">
            <div class="like-button-container" id="likeButtonContainer">
                <form id="likeForm" th:action="@{/dessert/like/{id}(id=${dessert.id})}" method="post" style="display: inline;">
                    <button type="submit" th:disabled="${alreadyLiked}">❤️</button>
                </form>
                <span class="likes" th:text="'(' + ${dessert.likes} + ')'"> (0) </span>
            </div>
        </div>
        <!-- 내용 -->
        <div class="card">
            <div class="card-body">
                <span class="font-bold" style="font-size: 1.5rem;" th:text="${dessert.title}"></span>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span style="font-weight: bold;">영업시간: </span>
                        <span th:text="${#temporals.format(dessert.calendar.businessHoursStart, 'HH:mm')}"></span>
                        <span> ~ </span>
                        <span th:text="${#temporals.format(dessert.calendar.businessHoursEnd, 'HH:mm')}"></span>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">휴무일: </span>
                        <span th:text="${dessert.calendar.closedDay}"></span>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">위치 : </span>
                        <span th:text="${dessert.location.name}"></span>
                        <br>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">정보: </span>
                        <a th:href="${dessert.websiteUrl}" target="_blank" style="color: blue;">홈페이지</a>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">번호: </span>
                        <span th:text="${dessert.phoneNumber}"></span>
                    </li>
                </ul>
                <!-- 해시태그 -->
                <div class="mt-4">
                    <span th:text="${dessert.hashtags}"></span>
                </div>

                <div class="mt-4">
                    <span>
                        <a th:href="@{/dessert/review/{id}(id=${dessert.id})}" style="font-size: 1rem;">
                            ⭐ <span th:text="${averageScore}">4.9</span> 리뷰 (<span th:text="${ratings.size()}">999+</span>)
                        </a>
                    </span>
                </div>

                <!-- 내용 -->
                <div class="mt-4">
                    <span th:text="${dessert.content}"></span>
                </div>

                <div class="scrap-button-container mt-4" id="scrapButtonContainer">
                    <form id="scrapForm" th:action="@{/dessert/scrap/{id}(id=${dessert.id})}" method="post" style="display: inline;">
                        <button type="submit" th:disabled="${alreadyScrapped}">📌</button>
                    </form>
                    <span class="scraps" th:text="'(' + ${dessert.scrapCount} + ')'"> (0) </span>
                </div>

                <form th:action="@{/dessert/delete/{id}(id=${dessert.id})}" method="post" style="display:inline;"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="delete-button">
                        <i class="fas fa-trash-alt"></i> 삭제
                    </button>
                </form>
                <!-- 지도  -->
                <div class="mt-4">
                    <span class="font-bold" style="font-size: 1.5rem;">지도 </span>
                    <div id="map" th:data-latitude="${dessert.location.latitude}" th:data-longitude="${dessert.location.longitude}" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="containers mt-1" id="reviewSection">
            <div sec:authorize="isAuthenticated()">
                <h3 class="mt-4">리뷰 수정</h3>
                <form th:action="@{/dessert/review/edit/{ratingId}(ratingId=${rating.id})}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="score">점수</label>
                        <div class="rating" required>
                            <input type="radio" id="star5" name="score" th:value="5" th:checked="${rating.score == 5}">
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="score" th:value="4" th:checked="${rating.score == 4}">
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="score" th:value="3" th:checked="${rating.score == 3}">
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="score" th:value="2" th:checked="${rating.score == 2}">
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="score" th:value="1" th:checked="${rating.score == 1}">
                            <label for="star1"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">댓글</label>
                        <textarea id="comment" name="comment" class="form-control" rows="3" th:text="${rating.comment}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">사진 수정</label>
                        <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/gif, image/jpeg" onchange="previewThumbnail(this)">
                    </div>
                    <img id="thumbnailPreview" th:src="@{/gen/{thumbnailImg}(thumbnailImg=${rating.thumbnailImg})}" alt="Thumbnail Preview" style="max-width: 200px; max-height: 200px;"/>
                    <button type="submit" class="btn btn-primary">리뷰 수정</button>
                </form>
            </div>

        </div>
    </section>

    <script th:inline="javascript" th:src="@{/detailjs/detail.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const likeButtonContainer = document.getElementById('likeButtonContainer');
            const likeForm = document.getElementById('likeForm');
            const scrapButtonContainer = document.getElementById('scrapButtonContainer');
            const scrapForm = document.getElementById('scrapForm');

            likeButtonContainer.addEventListener('click', function () {
                likeForm.submit();
            });

            scrapButtonContainer.addEventListener('click', function () {
                scrapForm.submit();
            });

            // 페이지 로드 시 리뷰 섹션으로 스크롤
            const reviewSection = document.getElementById('reviewSection');
            reviewSection.scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    <script>
        function previewThumbnail(input) {
            const preview = document.getElementById('thumbnailPreview');
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
</section>
</body>

</html>
