<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5 underline underline-offset-4 decoration-black">카페 카테고리 들어갈 자리</h1>
        <ul class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-3">
            <li th:each="dessert, loop : ${paging.content}" class="flex flex-col group w-full">
                <a th:href="@{|/dessert/detail/${dessert.id}|}"
                   class="border border-black h-[200px] transition duration-300 rounded-lg hover:rounded-lg hover:-translate-y-1.5 hover:transition hover:duration-300 hover:shadow-md"
                >
                    <img class="object-cover object-center block w-full h-full rounded-lg" th:src="@{|/gen/${dessert.thumbnailImg}|}" alt="thumbnailImg">
                </a>
                <a th:href="@{|/dessert/detail/${dessert.id}|}" th:text="${dessert.title}" class="text-center md:!text-left mt-2"></a>
            </li>
        </ul>

        <!-- 페이징 처리 시작 -->
        <form id="searchForm" th:action="@{/dessert/list}" method="get">
            <input type="hidden" id="page" name="page" value="0"/>
        </form>

        <ul th:if="${!paging.isEmpty()}" class="pagination flex justify-center mt-5">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>&lt;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item"
            >
                <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>&gt;</span>
                </a>
            </li>
        </ul>
    </div>
    <script layout:fragment="script" type="text/javascript">
        $(document).ready(function () {
            $(".page-link").on("click", function () {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });
        });
    </script>
</section>
</html>
