<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>제주도 여행은 Trip_In_Jeju !</title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>


    <!-- 테일윈드-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

    <!-- 폰트 어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
    .suggestions {
        max-height: 200px; /* Set the max height */
        overflow-y: auto; /* Enable vertical scrolling */
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
    }
</style>
<body class="flex flex-col min-h-screen">
<!-- common.css -->
<link href="/resource/css/common.css" rel="stylesheet" type="text/css" />
<link href="/resource/css/click.css" rel="stylesheet" type="text/css" />

<header class="h-full mb-8">
    <div class="bg-[url('https://github.com/user-attachments/assets/49436bc7-f7e1-4200-82f1-1970ee059374')] bg-no-repeat bg-cover bg-top md:h-[50vh] w-full h-1/2">
        <!-- 고정된 네비게이션 바 -->
        <nav class="navbar navbar-expand-md navbar-dark md:w-1/2 ml-auto mr-auto rounded-bl-3xl rounded-br-3xl">
            <div class="flex container-fluid p-0 h-24 content-center">
                <div class="flex-grow" style="flex-basis: 0"></div>
                <div class="text-center flex-grow" style="flex-basis: 0">
                    <a class="inline-block w-28" href="/"><img src="https://github.com/user-attachments/assets/e0055092-5d06-426f-ab4e-3626388002b5" alt="textlogo" class="w-28"></a>
                </div>
                <div class="flex flex-grow" style="flex-basis: 0">
                    <li class="nav-item flex-grow text-end">
                        <a class="inline-block" sec:authorize="isAnonymous()" href="/member/login">
                            <span class="text-white">로그인(회원가입)</span>
                        </a>
                    </li>
                </div>
            </div>
        </nav>
        <form action="/search/searchForm" method="GET" class="absolute w-full md:top-[46%] top-[10%]">
            <div class="flex items-center md:w-1/2 w-full bg-white border border-gray-300 rounded-full shadow-md ml-auto mr-auto">
                <input type="text" name="query" placeholder="검색어를 입력해주세요." class="w-full p-3 text-gray-700 rounded-full focus:outline-none" id="search-input" autocomplete="off" oninput="fetchSuggestions()" required />
                <button type="submit" class="p-3 focus:outline-none">
                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                </button>
            </div>
            <ul id="suggestions" class="suggestions absolute md:left-[25%] bg-white border border-gray-300 rounded-3xl shadow-lg hidden md:w-1/2 w-full max-h-48 overflow-y-auto p-3 mt-1">
            </ul>
        </form>
    </div>
</header>
<section class="pb-[50px]">
        <ul class="flex md:w-1/2 w-full justify-around ml-auto mr-auto flex-wrap gap-2 mt-4 mb-4">
            <a class="inline-block " href="/food/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/5eb2988b-2bc2-4bc7-8569-2045297b34f7" alt="음식점">
                </div>
                <div class="text-center mt-2">음식점</div>
            </a>
            <a class="inline-block " href="/dessert/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/5e90e3fa-3561-442f-b12b-4114038a2ca0" alt="디저트">
                </div>
                <div class="text-center mt-2">디저트</div>
            </a>
            <a class="inline-block " href="/shopping/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/cd0940e0-b313-4338-8c30-4c94a6b1dd53" alt="쇼핑">
                </div>
                <div class="text-center mt-2">쇼핑</div>
            </a>
            <a class="inline-block " href="/attractions/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/d682b2be-2c00-4e97-9e1f-885c3fbf582c" alt="관광지">
                </div>
                <div class="text-center mt-2">관광지</div>
            </a>
            <a class="inline-block " href="/festivals/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/d9f7055e-b765-40ea-8a3b-d97b7fb8628d" alt="축제">
                </div>
                <div class="text-center mt-2">축제</div>
            </a>
            <a class="inline-block " href="/activity/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/b3f46a50-08f3-4abd-b73a-f6cbb25f0c6e" alt="액티비티">
                </div>
                <div class="text-center mt-2">액티비티</div>
            </a>
            <a class=" inline-block " href="/other/list">
                <div class="category_hover w-16 h-16 border ring-gray-400 rounded-full text-center content-center text-4xl">
                    <img src="https://github.com/user-attachments/assets/5ecc7960-41f0-491c-a287-40246e55604c" alt="기타">
                </div>
                <div class="text-center mt-2">기타</div>
            </a>
        </ul>

    <!-- OO님을 위한 추천 리뷰 Section -->
    <div class="md:w-1/2 ml-auto mr-auto">
        <div class="mb-6 text-center">
            <h2 th:text="${member != null && member.nickname != null ? member.nickname : 'Guest'} + '님을 위한 추천 여행'" class="inline-block text-xl font-bold mr-1"></h2>
            <div class="text-right mb-2">
                <a href="#" class="text-gray-500">더보기 ></a>
            </div>
            <div class="flex space-x-4 overflow-x-auto">
                <div class="w-48 h-32 bg-red-200 flex items-center justify-center rounded-3xl">HOT</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">제주힙합클래스</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">신세계반얀스토어</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">도산동카페골목</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">추천 컨텐츠</div>
            </div>
        </div>
    <!-- 오늘의 픽 Section -->
        <div class="mb-6 text-center">
            <h2 class="text-xl font-bold">오늘의 Pick</h2>
            <div class="text-right mb-2">
                <a href="#" class="text-gray-500">전체보기 ></a>
            </div>
            <div class="flex space-x-4 overflow-x-auto">
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">유저 취향맞춤 추천 컨텐츠!</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">유저 취향맞춤 추천 컨텐츠</div>
                <div class="w-48 h-32 bg-gray-200 flex items-center justify-center rounded-3xl">유저 취향맞춤 추천 컨텐츠</div>
            </div>

        </div>

        <!-- 이벤트 Section -->
        <div class="mb-6 text-center">
            <h2 class="text-xl font-bold">이벤트</h2>
            <div class="text-right mb-2">
                <a href="#" class="text-gray-500">전체보기 ></a>
            </div>
            <div class="w-full h-32 bg-gray-200 flex items-center justify-center rounded-3xl">
                프로모션 / 광고
            </div>

        </div>
    </div>
</section>
<footer class="footer py-2 bg-black rounded-tl-3xl rounded-tr-3xl fixed bottom-0 md:w-1/2 w-full z-50 md:right-1/4">
    <div id="chat-container" class="absolute bottom-14 right-1 rounded-full shadow-lg">
        <div id="chat-icon" class="relative">
            <img class="rounded-full cursor-pointer" src="https://github.com/user-attachments/assets/ee76bf64-f914-4c75-98d4-f2fab0db8b5e" alt="ai서비스">
            <button id="close-icon" class="absolute top-0 right-0 text-white bg-black w-5 h-5 text-xs rounded-full">x</button>
        </div>
    </div>
    <div class="container text-center">
        <ul class="flex navbar-nav flex-row h-100 items-center">
            <li class="nav-item flex-grow">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="/"><i class="fa-solid fa-house fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <button id="toggleButton" class="inline-block w-7 h-7 rounded-full bg-white content-center" onclick="toggleActionSheet()"><i class="fa-solid fa-arrow-up fa-lg" id="arrowIcon"></i></button>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" href="/map/map"><i class="fa-solid fa-map fa-lg"></i></a>
            </li>
            <li class="nav-item flex-grow rounded-full">
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" sec:authorize="isAnonymous()" href="/member/login">
                    <i class="fa-solid fa-user fa-lg"></i>
                </a>
                <a class="inline-block w-7 h-7 rounded-full bg-white content-center" sec:authorize="isAuthenticated()" href="/member/myPage">
                    <img th:src="${member != null && member.thumbnailImg != null ? '/gen/' + member.thumbnailImg : 'https://i.ibb.co/mJYXKqb/images.jpg'}" alt="프로필 사진" class="profile-img w-8 h-8 rounded-full"/>
                </a>
            </li>

        </ul>
    </div>

    <div class="action-sheet text-white mx-2" id="actionSheet">
        <div class="action-options mt-3">
            <!-- 여러 선택 옵션들 -->
            <div class="option font-black text-xl pb-2 border-b-2">전체메뉴</div>
            <ul class="flex flex-col h-96">
<!--                <li class="flex-grow py-1 border-b-2">-->
<!--                    <a class="flex option cursor-pointer inline-block w-100 text-left hover:text-green-300" onclick="toggleSubMenu(event)">여행장소-->
<!--                        <div class="flex-grow text-right"><i class="fa-solid fa-plus" id="plusIcon"></i></div>-->
<!--                    </a>-->
<!--                    <ul class="flex w-80 justify-around ml-auto mr-auto flex-wrap gap-2 sub-menu hidden mt-2">-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/food/list">음식</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="/dessert/list">디저트</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">관광지</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">숙박</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">쇼핑</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">축제</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">액티비티</a></li>-->
<!--                        <li class="bg-gray-200 rounded-full w-16 h-16 text-center"><a class="inline-block text-black w-full h-full content-center" href="#">기타</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li class="flex-grow py-1 border-b-2">
                    <a href="#" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">마이페이지</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">이벤트</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">문의하기</a>
                </li>
                <li class="flex-grow py-1 border-b-2">
                    <a href="/api/chat/openai" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">챗 봇</a>
                </li>
                <li sec:authorize="isAnonymous()" class="flex-grow py-1 border-b-2">
                    <a   href="/member/login"class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="flex-grow py-1 border-b-2">
                    <a href="/member/logout"class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">로그아웃</a>
                </li>
                <li sec:authorize="isAuthenticated() and principal.username == 'admin'" class="flex-grow py-1 border-b-2">
                    <a href="/adm/home/main" class="option cursor-pointer inline-block w-100 h-100 text-left hover:text-green-300">관리자 페이지</a>
                </li>
            </ul>
        </div>
<!--        <div class="flex text-white absolute bottom-4 left-[20%]">-->
<!--            <div>-->
<!--                <div>-->
<!--                    <span class="text-xs">Trip In Jeju</span> <span>  |  </span>-->
<!--                    <span class="text-xs">대표 : 유필선</span> <span>  |  </span>-->
<!--                    <span class="text-xs">사업자등록번호 : 000-00-00000</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p class="text-xs">주소 : 대전 서구 대덕대로 179 9층 (우)35230</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p class="text-xs">Copyright © Trip_In_Jeju Corp. All rights reserved.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</footer>
<script th:src="@{/clickjs/click.js}"></script>
<script th:src="@{/searchjs/search.js}"></script>
</body>
</html>