<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/resource/css/like.css" rel="stylesheet" type="text/css"/>
        <link href="/resource/css/click.css" rel="stylesheet" type="text/css"/>
        <title>test</title>
    </head>
    <body>
    <section class="container mt-1">
        <div class="image-container">
            <img class="w-full" style="width: 100%; max-width: 100%;" th:src="@{|/gen/${shopping.thumbnailImg}|}" alt="상품이미지">
            <div class="like-button-container" id="likeButtonContainer">
                <form id="likeForm" th:action="@{/shopping/like/{id}(id=${shopping.id})}" method="post" style="display: inline;">
                    <button type="submit" th:disabled="${alreadyLiked}">❤️</button>
                </form>
                <span class="likes" th:text="'(' + ${shopping.likes} + ')'"> (0) </span>
            </div>
        </div>
        <!-- 내용 -->
        <div class="card">
            <div class="card-body">
                <span class="font-bold" style="font-size: 1.5rem;" th:text="${shopping.title}"></span>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span style="font-weight: bold;">영업시간: </span>
                        <span th:text="${#temporals.format(shopping.calendar.businessHoursStart, 'HH:mm')}"></span>
                        <span> ~ </span>
                        <span th:text="${#temporals.format(shopping.calendar.businessHoursEnd, 'HH:mm')}"></span>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">휴무일: </span>
                        <span th:text="${shopping.calendar.closedDay}"></span>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">위치 : </span>
                        <span th:text="${shopping.location.name}"></span>
                        <br>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">정보: </span>
                        <a th:href="${shopping.websiteUrl}" target="_blank" style="color: blue;">홈페이지</a>
                    </li>
                    <li class="list-group-item">
                        <span style="font-weight: bold;">번호: </span>
                        <span th:text="${shopping.phoneNumber}"></span>
                    </li>
                </ul>
                <!-- 해시태그 -->
                <div class="mt-4">
                    <span th:text="${shopping.hashtags}"></span>
                </div>

                <div class="mt-4">
                    <span>
                        <a th:href="@{/shopping/review/{id}(id=${shopping.id})}" style="font-size: 1.5rem;">
                            ⭐ <span th:text="${averageScore}">4.9</span> 리뷰 (<span th:text="${ratings.size()}">999+</span>)
                        </a>
                    </span>
                </div>

                <!-- 내용 -->
                <div class="mt-4">
                    <span th:text="${shopping.content}"></span>
                </div>

                <div class="scrap-button-container mt-4" id="scrapButtonContainer">
                    <form id="scrapForm" th:action="@{/shopping/scrap/{id}(id=${shopping.id})}" method="post" style="display: inline;">
                        <button type="submit" th:disabled="${alreadyScrapped}">📌</button>
                    </form>
                    <span class="scraps" th:text="'(' + ${shopping.scrapCount} + ')'"> (0) </span>
                </div>
                <!-- 지도  -->
                <div class="mt-4">
                    <span span class="font-bold" style="font-size: 1.5rem;">지도 </span>
                    <div id="map" th:data-latitude="${shopping.location.latitude}" th:data-longitude="${shopping.location.longitude}" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript" th:src="@{/detailjs/detail.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const likeButtonContainer = document.getElementById('likeButtonContainer');
            const likeForm = document.getElementById('likeForm');
            const scrapButtonContainer = document.getElementById('scrapButtonContainer');
            const scrapForm = document.getElementById('scrapForm');

            likeButtonContainer.addEventListener('click', function () {
                likeForm.submit();
            });

            scrapButtonContainer.addEventListener('click', function () {
                scrapForm.submit();
            });
        });
    </script>

    </body>
</section>
</html>
